.form-container {
  width: 30%;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 3px solid red;
  border-radius: 5px;
  background-color: orange;
}

.textarea {
  box-sizing: border-box;
	resize: none;
	overflow: auto;
	height: auto;
  padding: 8px;
}

label {
  margin-top: 10px;
}

button {
  width: 50%;
  margin: 15px auto;
}
