/* .App {
  text-align: center;
} */

.form-container {
  outline: 1px solid red;
}

.textarea {
  box-sizing: border-box;
	/* border: none; */
	/* border-radius: 3px; */
	resize: none;
	/* font-size: 20px;
	line-height: 24px; */
	overflow: auto;
	height: auto;
  padding: 8px;
  width: 20%;
	/* box-shadow: 0px 4px 10px -8px black; */
}
	
.textarea::placeholder	{
  color: gainsboro
}

/* .textarea:focus {
  outline: none
} */